{% load staticfiles %}
<html>
    <head>
        <title>SCR</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/restaurante.css' %}">
        {% block importcss %}{% endblock importcss %}
    </head>
    <body>
        <div class="page-header">
            <h1>
                <a href="/">Sistema de Controle de Restaurante</a>
            </h1>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
