{% load staticfiles %}

{% block importcss %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<html>
    <head>
        <title>Cadastro de Ingredientes</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/restaurante.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>
                <img class="logo" src="{% static 'img/butter.png' %}" ali>
                <a href="{% url 'home' %}"><span>Cadastro de Ingredientes</span></a>
            </h1>
        </div>
    </body>
</html>

<section>
    <div class="container">
        <div class="row mbr-justify-content-center">
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="text-wrap vleft">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-6">
                            Ingrediente 1:
                        </h2>
                        <input type="text">
                    </div>
                </div>
                <div class="wrap">
                    <div class="text-wrap vleft">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-6">
                            Ingrediente:
                        </h2>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
        <button style="float: right;" class="fa fa-send" name="envio" type="submit">Ingredientes</button>
        <button style="float: right;" class="fa fa-plus" type="submit">Ingrediente</button>
    </div>
</section>
{% endblock %}

{% block importjs %}

{% endblock importjs %}
