{% extends 'scr/base.html' %}

{% load staticfiles %}

{% block importcss %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row mbr-justify-content-center">
            <div class="col-lg-6 mbr-col-md-10">
                <a href="{% url 'regPedido' %}">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <img class="logo" src="{% static 'img/orders.png' %}" ali>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                <span> Realizar Pedido</span>
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <a href="{% url 'cadPrato' %}">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <img class="logo" src="{% static 'img/dish.png' %}" ali>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                <span> Cadastrar Prato</span>
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <a href="{% url 'cadIngredientes' %}">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <img class="logo" src="{% static 'img/butter.png' %}" ali>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                <span>Cadastrar Ingrediente</span>
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <a href="{% url 'relatPedido' %}">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <img class="logo" src="{% static 'img/result.png' %}" ali>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                <span>Relatório do Pedido</span>
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <a href="{% url 'listFornec' %}">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <img class="logo" src="{% static 'img/truck.png' %}" ali>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                <span> Fornecedores</span>
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <a href="{% url 'regCompraIngred' %}">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <img class="logo" src="{% static 'img/shopping-bag.png' %}" ali>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                                <span>Registrar Compras de Ingredientes</span>
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
